{:kotoba.app/id "cloud.itonami.isic-9329", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiamqqczsdkxhuo2wzzu2keaj3wwdvg6xmbge6hrgj5jbpfct74dpe", :kotoba.app/embed-url "ipfs://bafkreiamqqczsdkxhuo2wzzu2keaj3wwdvg6xmbge6hrgj5jbpfct74dpe", :published {:archive "https://kotobase.net/ipfs/bafkreiamqqczsdkxhuo2wzzu2keaj3wwdvg6xmbge6hrgj5jbpfct74dpe", :size 76669, :put-status 201, :get-status 200, :at "2026-08-15T14:03:34.944Z"}}
